{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
    <h2>Welcome to LogiCalc Tools!</h2>
    <p>This site is dedicated to financial institutions.  LogiCalc Tools provides tools to help you market loans to your customers.  In less than 30 seconds, your customers will have an estimate on what a loan with you would do for them.  Empowering your customers with information has a powerful effect on their decision to do business with a company.  
    </p>
    <p>
        Our risk-based pricing calculator is different from any other financial calculator you have experienced in the past.  our complex algorithm takes the quantitative underwriting criteria from your financial institution, plugs it into our system, and provides very accurate underwriting results (interest rate, payment, savings, and more) for your customers.  Finally, our system has an easy conact function to allow customers to contact your directly.  Best of all, it's available 24 hours a day!
    </p>
    
    <ul>
        Check out an existing company calculator page:<br>
            
                {% for company in loan_companies %}
                    <li><a href="{% url "calculation" company.slug %}">{{ company.title }}</a></li>
                {% endfor %}
           
        
  
    </ul>
{% endblock %}
