{% extends "lc_calc/base_loan_company.html" %}
{% load mezzanine_tags staticfiles %}
{% block extra_js %}
    {% if calculation.interest_savings %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>

        <script type="text/javascript">

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawInterestSavingChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawInterestSavingChart() {

                // Create the data table.
                var data = new google.visualization.arrayToDataTable([
                      ['Label', 'Value', {role: 'style'}],
                      ['Savings', {{ calculation.interest_savings }}, 'green'],
                      ['New interest', {{ calculation.loan_interest }}, 'blue'],
                      ['Old interest', {{ calculation.current_loan_remaining_interest }}, 'red']]);

                new google.visualization.BarChart(document.getElementById('interest_comparison')).
                        draw(data,
                        {title:"Interest Comparison",
                            width:400,
                            height:200,
                            legend: {position: "none"},
                            vAxis: {textPosition: "out"}})}
        </script>

        <script type="text/javascript">

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawPaymentComparisonChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawPaymentComparisonChart() {

                // Create the data table.
                var data = new google.visualization.arrayToDataTable([
                      ['Label', 'Value', {role: 'style'}],
                      ['New', {{ calculation.monthly_payment }}, 'green'],
                      ['Old', {{ calculation.current_loan_monthly_payment }}, 'red']]);

                new google.visualization.BarChart(document.getElementById('payment_comparison')).
                        draw(data,
                        {title:"Payment Comparison",
                            width:400,
                            height:200,
                            legend: {position: "none"},
                            vAxis: {textPosition: "out"}})}
        </script>

        <script type="text/javascript">

            // Load the Visualization API and the piechart package.
            google.load('visualization', '1.0', {'packages': ['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.setOnLoadCallback(drawSavingsChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawSavingsChart() {

                // Create the data table.
                var data = new google.visualization.arrayToDataTable([
                      ['Label', 'Value', {role: 'style'}],
                      ['Annual', {{ calculation.estimated_yearly_savings }}, 'green'],
                      ['Monthly', {{ calculation.estimated_monthly_savings }}, 'blue']]);

                new google.visualization.BarChart(document.getElementById('savings')).
                        draw(data,
                        {title:"Savings",
                            width:400,
                            height:200,
                            legend: {position: "none"},
                            vAxis: {textPosition: "out"}})}
        </script>
    {% endif %}
{% endblock extra_js %}
{% block main %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-8">
            <form action="" method="post">{% csrf_token %}
                {% for field in form.visible_fields %}
                    <p>{{ field.errors }} {{ field.label_tag }} {{ field }}</p>
                {% endfor %}
                <input type="submit" value="Submit"/>
                <input type="hidden" name="loan_company_id" value="{{ loan_company.id }}"/>
            </form>
        </div>
        <div class="col-md-4">
            <p>rate: {{ calculation.rate }}</p>

            <p>maximum_term: {{ calculation.maximum_term }}</p>

            <p>current_loan_estimated_remaining_term: {{ calculation.current_loan_estimated_remaining_term }}</p>

            <p>monthly_payment: {{ calculation.monthly_payment }}</p>

            <p>estimated_monthly_savings: {{ calculation.estimated_monthly_savings }}</p>

            <p>estimated_yearly_savings: {{ calculation.estimated_yearly_savings }}</p>

            <p>current_loan_remaining_interest: {{ calculation.current_loan_remaining_interest }}</p>

            <p>loan_interest: {{ calculation.loan_interest }}</p>

            <p>interest_savings: {{ calculation.interest_savings }}</p>
            <a href="{% url "loan_company_message" loan_company.slug %}" class="btn btn-success"><span class="glyphicon-white glyphicon-envelope"></span> Contact {{ loan_company.title }}</a>
        </div>
    </div>
    <div class="row">
        <div id="interest_comparison" class="col-md-6">
        </div>
        <div id="payment_comparison" class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="col_md_6">
            <div id="savings"></div>
        </div>
    </div>
{% endblock main %}