{{ msg.sender }} has requested that you contact them regarding a loan.

{% if msg.message %}
They entered the following message:
{{ msg.message }}
{% endif %}

{%  if msg.loan_calculation %}
{{ msg.sender }} would like a loan of ${{ msg.loan_calculation.loan_amount }} over {{ msg.loan_calculation.monthly_term }} months.

They entered or accepted the default following loan information into the loan calculation sheet:
    loan_type: {{ msg.loan_calculation.loan_type }}
    current_loan_balance: {{ msg.loan_calculation.current_loan_balance }}
    current_loan_monthly_payment: {{ msg.loan_calculation.current_loan_monthly_payment }}
    current_loan_rate: {{ msg.loan_calculation.current_loan_rate }}
    estimated_credit_score: {{ msg.loan_calculation.estimated_credit_score }}
    estimated_collateral_value: {{ msg.loan_calculation.estimated_collateral_value }}
    estimated_monthly_expenses: {{ msg.loan_calculation.estimated_monthly_expenses }}
    estimated_year_of_collateral: {{ msg.loan_calculation.estimated_year_of_collateral }}

The following information was calculated for them on the loan calculation sheet:
    current_loan_estimated_remaining_term: {{ msg.loan_calculation.current_loan_estimated_remaining_term }}
    maximum_term: {{ msg.loan_calculation.maximum_term }}
    rate: {{ msg.loan_calculation.rate }}
    monthly_payment: {{ msg.loan_calculation.monthly_payment }}
    interest_savings: {{ msg.loan_calculation.interest_savings }}

{% else %}
They did not enter any loan information into the loan calculation sheet.
{% endif %}